### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules


### Visual Studio ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Misc
.vs/
