@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins Semibold';
    src: url('../fonts/poppins-semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
}

.main {
    padding-top: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: #141519;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #100f12;
    color: white;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.headerBar {
    border-bottom: 5px;
    height: 90px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.headerTitle h1 {
    font-family: Poppins Semibold;
    font-size: 28px;
    padding: 0px 6px !important;
    overflow: hidden;
}
.headerDot {
    font-family: Poppins;
    font-size: 23px;
    margin-left: 12px;
    margin-top: 2px;
    padding: 0px 6px;
    color: #eaeaea;
    pointer-events: none;
}
.headerDesc {
    font-family: Poppins;
    font-size: 23px;
    margin-left: 12px;
    margin-top: 2px;
    padding: 0px 8px;
    color: #eaeaea;
}
.headerTitle h1:hover,
.headerDesc:hover {
    background-color: rgb(250, 250, 250, 0.08);
    border-radius: 5px;
}

.headerBoardInfo {
    font-family: Georgia, serif;
    position: relative;
    left: 10px;
    top: 2px;
    opacity: 0.0;
    padding: 5px 10px;
    text-align: center;
    cursor: help;
    z-index: 100;
    font-size: 23px;
    font-weight: bold;
    transition: 0.2s;
}
.boardInfo {
    position: absolute;
    font-family: Poppins;
    width: 120px;
    margin-top: -22px;
    margin-left: 20px;
    text-align: left;
    font-size: 14px;
    padding: 0px 15px;
    background-color: #1d1f24;
    border-radius: 5px;
    border: rgb(255, 255, 255, 0.1) solid 1px;
    visibility: hidden;
}
.headerBoardInfo:hover {
    opacity: 1 !important;
    font-size: 24px;
}
.headerBoardInfo:hover .boardInfo {
    visibility: visible;
}
.headerBar:hover .headerBoardInfo {
    opacity: 0.4;
}

.board-edit-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    color: white;
    font-family: Poppins Semibold;
    font-size: 28px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 5px;
    position: relative;
    top: 3px;
    margin-right: -21px;
    margin-left: 19px;
}
.board-edit-desc-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    color: white;
    font-family: Poppins;
    font-size: 23px;
    padding-left: 7px;
    padding-right: 5px;
    position: relative;
    top: 4px;
    left: 12px;
    margin-right: -21px;
    margin-left: 19px;
}

.headerLine {
    width: 100%;
    opacity: 0.1;
    position: absolute;
    top: 80px;
}

.headerDelete {
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
    padding: 2px 8px;
    opacity: 0;
    transition: 0.2s;
    margin-top: -1px;
}
.headerBar:hover .headerDelete{
    opacity: 0.5;
}
.headerDelete:hover {
    opacity: 1 !important;
}

.delete-board-confirm {
    font-family: "Poppins";
    font-size: 20px;
    color: #ffffff76;
    margin-left: 20px;
    pointer-events: none;
}

.delete-confirm-yes {
    font-family: "Poppins";
    font-family: Webdings;
    font-size: 30px;
    opacity: 0.6;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    pointer-events: all;
}
.delete-confirm-no {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bolder;
    opacity: 0.6;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    margin-left: 0px;
    pointer-events: all;
}
.delete-confirm-yes:hover,
.delete-confirm-no:hover {
    opacity: 0.9;
}

.userIcon {
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000000;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.2s;
    pointer-events: none;
}
.overlayShown {
    background: #00000059;
    pointer-events: auto;
}

.sidebar {
    width: 320px;
    position: fixed;
    text-align: left;
    left: 0;
    top: 0px;
    padding-top: 10px;
    z-index: 999;
    height: 100vh;
    opacity: 1;
    background-color: #100f12;
    color: white;
    box-shadow: 15px 0 12px rgba(0, 0, 0, 0.085);
    transition: left 0.3s ease-out;
    margin: 0px;
}
.sidebarHidden {
    left: -330px;
    transition: left 0.3s ease-out;
}

.sidebarTitle {
    font-family: 'Poppins Semibold';
    font-size: 24px;
    padding-left: 35px;
}

.sidebarButton {
    z-index: 101;
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 55px;
    padding-left: 56px;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 19px;
    transition: font-size 0.02s ease-in-out;
    border-radius: 2px;
}
.sidebarButton:hover {
    color: white;
    text-decoration: none;
    transition: font-size 0.05s ease-in-out;
    background-color: #4f4f4f2a;
}

.sidebarUpDownDiv {
    height: 55px;
    position: absolute;
    right: 0px;
    width: 15%;
    margin-top: -55px;
    padding-top: 5px;
    margin-right: 10px;
}

.user-boards-list,
.shared-boards-list {
    list-style: none;
    padding: 0 !important;
    margin-bottom: 2px;
}
.user-boards-list li:first-child .sidebarUp,
.shared-boards-list li:first-child .sidebarUp {
    visibility: hidden;
}
.user-boards-list li:last-child .sidebarDown,
.shared-boards-list li:last-child .sidebarDown {
    visibility: hidden;
}

.sidebarUp, .sidebarDown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 20px;
    height: 0.8em;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0;
}
.sidebarUp {
    z-index: 20;
    overflow: hidden;
    padding-bottom: 4px;
}
.sidebarDown {
    z-index: -2;
    padding-top: 0px;
    padding-bottom: 6px;
    overflow: hidden;
}
.sidebarUp:hover, .sidebarDown:hover, .sidebarBoardOptions:hover {
    opacity: 1 !important;
}
li:hover .sidebarBoardOptions,
li:hover .sidebarUp,
li:hover .sidebarDown {
    opacity: 0.5;
}

.sidebarBoardOptions {
    z-index: 22;
    position: absolute;
    right: -10px;
    margin-top: -51px;
    margin-right: 8px;
    padding: 2px;
    text-align: center;
    font-size: 28px;
    opacity: 0;
    transition: 0.1s;
    cursor: pointer;
    overflow: hidden;
}

.shared-board-options-panel {
    background-color: #100f12;
    border-radius: 20px;
    z-index: 200 !important;
    width: 460px;
    height: 580px;
    margin: auto;
    margin-right: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Poppins';
    font-size: 18px;
    padding: 10px 70px;
    position: relative;
    transition: 0.1s;
}
.shared-board-options-side-panel {
    background-color: #100f12;
    border-radius: 20px;
    z-index: 200 !important;
    width: 300px;
    height: 580px;
    margin: auto;
    margin-left: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Poppins';
    font-size: 18px;
    padding: 10px 70px;
    position: relative;
    transition: 0.1s;
}
.shared-board-options-side-panel ul {
    margin-top: 30px;
    margin-left: -40px !important;
}
.shared-board-options-side-panel li {
    font-size: 18px;
    margin-top: 10px;
    list-style-type: none;
}
.shared-board-options-side-panel .remove-member {
    font-size: 20px;
    opacity: 0.2;
    position: absolute;
    padding: 3px 20px;
    margin-top: -5px;
    right: 10px;
    transition: 0.1s;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}
.shared-board-options-side-panel:hover .remove-member {
    opacity: 0.4;
}
.shared-board-options-side-panel .remove-member:hover {
    opacity: 0.9;
}
.join-code-container {
    position: absolute;
    bottom: 200px;
    height: 40px;
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.codeNotAdmin {
    bottom: 140px !important;
}
.join-code {
    font-size: 30px;
    color: white;
    width: 8rem;
    line-height: 0.8rem;
    margin-top: -30px;
}
.refresh-code-button {
    cursor: pointer;
    background-color: #353535;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: -20px;
}
.leave-board-button {
    position: absolute;
    bottom: 53px;
    text-align: center;
    display: block;
    width: 68%;
    border-radius: 7px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 20px;
    margin-left: -20px;
    border: none;
    background-color: #7c1c1c;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.leave-board-button:hover {
    font-size: 17px;
}

.board-options-panel {
    background-color: #100f12;
    border-radius: 20px;
    z-index: 200 !important;
    width: 460px;
    height: 580px;
    margin: auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Poppins';
    font-size: 18px;
    padding: 10px 70px;
    position: relative;
    transition: 0.1s;
}
.notAdmin {
    height: 520px !important;
}
.board-options-panel h1,
.shared-board-options-panel h1,
.shared-board-options-side-panel h1,
.board-join-panel h1{
    font-family: Poppins Semibold;
    font-size: 28px;
    margin-left: 0px;
    position: relative;
    top: 15px;
}
.board-options-panel label,
.shared-board-options-panel label,
.board-join-panel label {
    display: block;
    margin-top: 30px;
}
.board-options-save:hover,
.board-options-delete:hover,
.board-options-convert:hover {
    font-size: 17px;
}
.board-options-input {
    width: 100%;
    margin-top: 5px;
    border-radius: 7px;
    outline: none;
    border: none;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
}
.board-options-input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0 rgba(250, 250, 250, 0.6);
    transition: 0.2s ease-in-out;
}
.name {
    font-family: 'Poppins Semibold';
    font-size: 17px;
    padding: 20px 10px;
    height: 1.5rem;
}
.desc {
    font-family: Poppins;
    height: 4rem;
    font-size: 17px;
    padding: 5px 10px;
}
.board-options-cancel {
    display: block;
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    right: 65px;
    top: 48px;
    opacity: 0.6;
    transition: 0.1s;
    cursor: pointer;
}
.board-options-cancel:hover {
    opacity: 1;
}
.board-options-save {
    display: block;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 40px;
    border: none;
    background-color: #2a4a24;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.board-options-delete {
    display: block;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 20px;
    border: none;
    background-color: #7c1c1c;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.board-options-convert {
    display: block;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    margin-top: 40px;
    border: none;
    background-color: #353535;
    color: white;
    cursor: pointer;
    transition: 0.1s;
}

.board-join-panel {
    background-color: #100f12;
    border-radius: 20px;
    z-index: 200 !important;
    width: 460px;
    height: 300px;
    margin: auto;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Poppins';
    font-size: 18px;
    padding: 10px 70px;
    position: relative;
}
.board-code-input {
    width: 100%;
    margin-top: 5px;
    border-radius: 7px;
    outline: none;
    border: none;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 24px;
    padding: 10px;
}
.board-code-input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0 rgba(250, 250, 250, 0.6);
    transition: 0.2s ease-in-out;
}

.sidebarNewBoard {
    z-index: 101;
    width: 100%;
    color: white;
    opacity: 0.3;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 55px;
    padding-left: 56px;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 16px;
    transition: 0.1s ease-in-out;
    border-radius: 2px;
    cursor: pointer;
}
.sidebarNewBoard:hover {
    opacity: 0.6;
}

.sidebarLine {
    width: 100%;
    opacity: 0.1;
}

.closeSidebar {
    position: absolute;
    top: 11px;
    right: 15px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 40px;
    transition: 0.5s;
    cursor: pointer;
    font-family: Poppins;
}
.closeSidebar:hover {
    transition: 0.2s;
    text-shadow: 0px 0px 12px rgb(255, 255, 255, 0.54);
}

.sidebarToggle {
    position: absolute;
    top: 20px;
    left: 35px;
    z-index: 100;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 32px;
    height: 40px;
    width: 40px;
    transition: 0.18s ease-in-out;
    cursor: pointer;
    text-shadow: none;
}
.sidebarToggle:hover {
    text-shadow: 0px 0px 12px rgb(255, 255, 255, 0.54);
}



/* ------ list */
.lists-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25px;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
}
.list-column {
    padding: 35px 30px;
    min-width: 150px;
    border-radius: 15px;
    width: 290px;
    height: auto;
    position: relative;
}

.list-name {
    font-family: Poppins;
    font-weight: bold;
    font-size: 23px;
    margin-left: 2px;
    z-index: 100 !important;
    position: relative;
    padding: 2px 6px;

    border-radius: 5px;
}
.list-name:hover {
    background-color: rgb(250, 250, 250, 0.08);
}

ul li:first-child .up {
    display: none !important;
}
ul li:nth-last-child(2) .down {
    display: none !important;
}

.list-options-icons p {
    font-family: Poppins;
    position: relative;
    top: -10px;
    opacity: 0.6;
    pointer-events: none;
    left: -29px;
    font-weight: 100;
}
.delete-confirm {
    font-family: Webdings;
    font-size: 25px;
    position: absolute;
    opacity: 0.6;
    top: 8px;
    right: 133px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.delete-cancel {
    font-weight: 900;
    position: absolute;
    opacity: 0.6;
    top: 9.5px;
    right: 113px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.delete-confirm:hover,
.delete-cancel:hover {
    opacity: 1;
}




/* ------ checkbox */
.task {
    transition: 0.4s;
    font-family: 'Poppins';
}
.completed-task {
    text-decoration: line-through;
    color: rgb(204, 204, 204, 0.8);
    transition: 0.4s;
    font-family: 'Poppins';
}

.container { /* container for the checkbox */
    display: block;
    position: relative;
    left: -30px;
    padding-left: 35px;
    margin-bottom: 11px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
}

.container input[type=checkbox] { /* hide the default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark { /* display custom checkbox */
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid rgb(255, 255, 255, 0.8);
    border-radius: 3px;
}
.container input:checked ~ .checkmark {
    background-color: rgb(255, 255, 255, 0.3);
}

.checkmark:after { /* hide checkmark */
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after { /* show checkmark */
    display: block;
}
.container .checkmark:after { /* checkmark styling*/
    left: 5px;
    top: -1px;
    width: 3px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.newTask {
    font-size: 35px;
    color: rgb(255, 255, 255, 0);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    margin-top: -8px;
    height: 5px;
    position: absolute;
}
.newTask:hover {
    color: rgb(255, 255, 255, 1) !important;
}
.list-column:hover .newTask {
    color: rgb(255, 255, 255, 0.4);
}

.task-edit-input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    width: 85%;
    margin-left: -1px;
    margin-top: 4px;
    padding-left: 4px;
}
.task-edit-input:focus {
    outline: none;
    font-family: Poppins;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}
.task-edit-input::placeholder {
    font-family: Poppins;
    color: rgb(255, 255, 255, 0.4);
}
.task-edit-input:focus::placeholder {
    font-family: Poppins;
    color: rgb(255, 255, 255, 0.2);
}

.list-edit-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    color: white;
    font-family: Poppins;
    font-size: 23px;
    width: 85%;
    font-weight: bold;
    padding-left: 6px;
    margin-top: 0px;
    position: relative;
    top: -1px;
    z-index: 100;
}
.list-edit-input:focus {
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    font-family: Poppins;
}
.list-edit-input::placeholder {
    color: rgb(255, 255, 255, 0.5);
    font-style: italic;
    font-family: Poppins;
}
.list-edit-input:focus::placeholder {
    color: rgb(255, 255, 255, 0.2);
    font-family: Poppins;
}

.colour-container {
    position: absolute;
    top: -39px;
    width: 74%;
    text-align: center;
    left: 0px;
    padding-left: 13%;
    padding-right: 13%;
}
.colour-option {
    cursor: pointer;
    width: 12.5%;
    float: left;
    text-align: center;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.3);
}
.colour-option:hover {
    text-shadow: 0px 0px 4px rgb(255, 255, 255, 1);
}
.selected {
    -webkit-text-stroke: 3px white;
}


/* symbols */
.plus {
    font-size: 35px;
    color: rgb(255, 255, 255, 0.6);
    background-color: transparent;
    border: none;
    margin-left: -32px;
    margin-right: 12px;
    top: 5px;
    position: relative;
    transition: 0.1s;
}
.plus:hover {
    color: rgb(255, 255, 255, 1);
}


.edit-submit {
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255, 0.6);
    background-color: transparent;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    top: 38px;
    position: absolute;
    right: 10px;
    transition: 0.1s;
    font-family: Webdings;
    font-weight: lighter;
    cursor: pointer;
    z-index: 10;
}
.edit-submit:hover {
    color: rgb(255, 255, 255, 1);
}

.edit-submit-task {
    font-size: 23px;
    color: rgb(255, 255, 255, 0.6);
    background-color: transparent;
    border: none;
    margin-right: 12px;
    padding-left: 10px;
    top: 0px;
    position: absolute;
    left: -43px;
    transition: 0.1s;
    font-family: Webdings;
    font-weight: lighter;
    cursor: pointer;
    z-index: 10;
}
.edit-submit-task:hover {
    color: rgb(255, 255, 255, 1);
}


.edit-delete-span {
    position: absolute;
    top: 0;
    text-align: right;
    right: -14px;
    opacity: 0;
    transition: 0.1s;
}
.container:hover + .edit-delete-span{
    opacity: 1;
}

.edit-delete-span:hover {
    opacity: 1;
}

.delete {
    right: 1px;
    color: rgb(255, 255, 255, 0.6);
    width: 30px;
    font-size: 18px;
    cursor: pointer;
}
.delete:hover {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
}

.edit {
    padding-right: 1px;
    color: rgb(255, 255, 255, 0.6);
    width: 30px;
    font-size: 18px;
    cursor: pointer;
}
.edit:hover {
    color: rgb(255, 255, 255)!important;
    opacity: 1 !important;
}

.up, .down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    font-size: 20px;
    position: absolute;
    left: -62px;
    height: 0.8em;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0;
}
.up {
    margin-top: -4px;
    z-index: 4;
    overflow: hidden;
}
.down {
    margin-top: 7.5px;
    z-index: 2;
}
.up:hover, .down:hover {
    opacity: 1 !important;
}
.task-li:hover .up,
.task-li:hover .down {
    opacity: 0.5;
}


.delete-list {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 0 10px;
    position: absolute;
    right: 32.5%;
    top: 7px;
    font-size: 19px;
    opacity: 0;
    transition: 0.1s;
    box-sizing: border-box;
}
.delete-list:hover {
    opacity: 1 !important;
}
.colour-list {
    font-size: 24px;
    background-color: transparent;
    border: none;
    padding: 0 10px;
    left: 44.5%;
    position: absolute;
    transition: 0.1s;
    cursor: pointer;
    opacity: 0;
    box-sizing: border-box;
}
.colour-list:hover {
    opacity: 1 !important;
}

.isEditing {
    transition: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.list-name:hover ~ ul .newTask {
    opacity: 0 !important;
}
.edit-list:hover ~ ul .newTask {
    opacity: 0 !important;
}

.list-options-icons {
    height: 70px;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    left: 0px;
    top: 0px;
    padding-top: 4px;
}
.list-options-icons:hover .colour-list,
.list-options-icons:hover .delete-list,
.list-options-icons:hover .transfer-list,
.list-options-icons:hover .move-list-left,
.list-options-icons:hover .move-list-right {
    opacity: 0.3;
}
.transfer-list {
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    position: absolute;
    left: 32%;
    font-size: 23px;
    opacity: 0;
    transition: 0.1s;
    top: 3px;
    box-sizing: border-box;
}
.move-list-left {
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    position: absolute;
    left: 19%;
    font-size: 25px;
    opacity: 0;
    transition: 0.1s;
    top: 1px;
    box-sizing: border-box;
}
.move-list-right {
    cursor: pointer;
    text-align: center;
    padding: 0 10px;
    position: absolute;
    right: 18.5%;
    font-size: 25px;
    opacity: 0;
    transition: 0.1s;
    top: 1px;
    box-sizing: border-box;
}

.lists-row .list-column:first-child .move-list-left {
    display: none !important;
}

.lists-row .list-column:nth-last-child(2) .move-list-right {
    display: none !important;
}

.edit-list {
    cursor: pointer;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 15px;
    top: 35px;
    font-size: 22px;
    opacity: 0;
    transition: 0.1s;
}

.move-list-right:hover,
.move-list-left:hover,
.transfer-list:hover,
.edit-list:hover{
    opacity: 1 !important;
}
.list-options-icons:hover .edit-list {
    opacity: 0.6;
}

.click-off-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.2s;
    display: none;
}

.transfer-menu {
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.22), 0 6px 18px 0 rgba(0, 0, 0, 0.22);
    background-color: orange;
    position: absolute;
    width: 220px;
    min-height: 120px;
    max-height: 250px;
    overflow-y: auto;
    margin-left: 150px;
    margin-top: -4px;
    border-radius: 5px;
    z-index: 200;
    font-family: Poppins;
    font-size: 16px;
    background-color: #1d1f24;
    border-radius: 5px;
    border: rgb(255, 255, 255, 0.1) solid 1px;
    text-align: left;
    opacity: 0;
    transition: 0.1s ease-in-out;
}
.transfer-menu ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}
.transfer-menu li {
    transition: 0.2s;
    cursor: pointer;
    padding: 6px 20px;
    border-radius: 5px;
}
.transfer-menu li:not(:last-child) {
    margin-bottom: 3px;
}
.transfer-menu li:hover {
    background-color: #5a5a5a29;
}


.new-list {
    font-family: Poppins;
    display: flex;
    align-items: center;
    height: auto;
    align-self: stretch;
    font-size: 45px;
    opacity: 0.1;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
}
.new-list:hover {
    color: rgb(255, 255, 255) !important;
    opacity: 1 !important;
}

.lists-row:hover .new-list {
    opacity: 0.6;
}

.list-name-edit-input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    color: white;
    font-size: 23px;
    width: 85%;
    margin-bottom: 14px;
    font-family: Poppins;
    font-weight: bold;
    padding-left: 8px;
    margin-top: 14px;
}
.list-name-edit-input:focus {
    color: rgb(255, 255, 255, 1);
    border-color: transparent;
}
.list-name-edit-input::placeholder {
    color: rgb(255, 255, 255, 0.4);
}